{% extends 'base.html' %}

{% block content %}

    <h1>User {{ selected_user.username }} page</h1>
    <div id="container">
        <div id="left" style="width: 180px; float: left;">
            {% if selected_user.avatar.url != null %}
                <div><img src="{{ selected_user.avatar.url }}" width="160"></div>
            {% else %}
                {#                            <img src="{% static 'avatar.jpg' %}"> Почему блять не работает?#}
                <img src="https://sundanceusa.com/images/avatar.jpg" width="160">
            {% endif %}
        </div>
        <div id="right" style="margin-left: 200px;">
            <div>First name: {{ selected_user.first_name }}</div>
            <div>Last name: {{ selected_user.last_name }}</div>
            <div>Votes: up - {{ votes_up }}, down - {{ votes_down }}</div>
            <div>Comments: {{ selected_user.user_comments.count }}</div>
            <div>
                {% if selected_user == user %}
                    <a href="{% url 'user:user_update' %}">Edit profile</a>
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {#    <div>First name: {{ selected_user.first_name }}</div>#}
    {#    <div>Last name: {{ selected_user.last_name }}</div>#}
    {#    <div>Votes: up - {{ votes_up }}, down - {{ votes_down }}</div>#}
    {#    <div>Comments: {{ selected_user.user_comments.count }}</div>#}
    {#    {% if selected_user.avatar.url != null %}#}
    {#        <div><img src="{{ selected_user.avatar.url }}" width="160"></div>#}
    {#    {% endif %}#}
    <br><br><br><br>
    <div><h2>{{ selected_user.username }} draw {{ selected_user.user_posts.count }} posts:</h2></div>
    {% for post in selected_user.user_posts.all %}
        {#        <div class="post-title">#}
        {#            <a href="{% url 'post:detail' pk=post.pk %}">{{ post.title }}</a>#}
        {#        </div>#}
        {#        <div class="date">#}
        {#            Created: {{ post.created_date|date:"Y - m - d H:i" }} by#}
        {#            <a href="{% url 'user:user_view' pk=post.author.id %}">#}
        {#                {{ post.author }}#}
        {#            </a>#}
        {#        </div>#}
        {#        <div class="post">#}
        {#            <a href="{% url 'post:detail' pk=post.pk %}">#}
        {#                <img src="{{ post.encoded_image }}" width="360">#}
        {#            </a>#}
        {#        </div>#}

        <div class="card" style="display: inline-block; margin-top: 50px;">

            <!--Card image-->
            <a href="{% url 'post:detail' pk=post.pk %}">
                <img class="img-fluid" src="{{ post.encoded_image }}" alt="Card image cap" width="720">
            </a>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block" style="max-width: 800px;">
                <!--Title-->
                <h4 class="card-title"><a href="{% url 'post:detail' pk=post.pk %}">{{ post.title }}</a></h4>
                <!--Text-->
                <p class="card-text">
                    Created {{ post.created_date|date:"Y - m - d H:i" }} by
                    <a href="{% url 'user:user_view' pk=post.author.id %}">
                        {{ post.author }}
                    </a>
                    <br>
                    Rating {{ post.get_rating }}
                </p>
            </div>
            <!--/.Card content-->

        </div>
    {% endfor %}
{% endblock %}